@use "sass:list";
@use "@shared" as shared;
// interimming.
// TODO Since the css is shared between the explorer and the editor, it is impossible to target-omit a menu time (eg. "Create Folder Note")

$menu-items-to-show: (
  "Copy link to heading",
  "Extract this heading",
  "Get etymology of",
  "Read selected text"
);
$menu-items-to-hide: (
  "Copy link to block",
  "Copy block embed",
  "Bookmark this heading...",
  "Look up",
  "Add external link",
  "Add link",
  "Add to custom dictionary",
  "Add to dictionary",
  // "Copy",
  "Cut",
  "Erase highlight",
  "Extract current selection...",
  "Insert",
  "Format",
  "Highlight",
  "Look up",
  "Paragraph",
  "Paste as plain text",
  "Paste",
  "Search for",
  "Select all",
  "Set priority"
);

$menu-items-with-seperators: (
  // "New folder",
  "New note",

  "Count Words",
  // "Add props to folder's notes"
  "Open in other editor",

  "Remove props from folder's notes"
);

$special-menu-items-to-show: (
  "Count Words",
  "New folder",
  "New note",
  "Reveal in Finder",
  "Rename...",
  "Move folder to",
  "Move file to...",
  "Merge entire file with...",
  "Merge folder",
  "Merge notes",
  "Open in second window",
  "Open in other editor",
  "Rename this heading...",
  "Create Longform Project",
  "Open daily notes for this folder",
  "Add props to folder's notes",
  "Remove props from folder's notes",
  "Folder Note Commands",
  "Create folder note",
  "Duplicate",
  "Delete"
);
$special-menu-items-to-hide: (
  "Export folder to PDF",
  "Export to PDF...",
  "Search in folder",
  "New canvas",
  "New kanban board",
  "Create new note from template",
  "Import folder as Media DB entries",
  "Turn into folder note for",
  "Lint folder",
  "Ignore folder in Linter",
  "Copy heading embed",
  "Force update by overwriting",
  "Create a command for this file",
  "Reveal file in navigation",
  "Open in default app",
  "Open link",
  "Open in new tab",
  "Open to the right",
  "Open in new window",
  "Add link",
  "Add external link",
  "Edit link",
  "Paragraph",
  "Insert",
  "Extract current selection...",
  "Cut",
  "Paste",
  "Paste as plain text",
  "Select all",
  "Copy Obsidian URL",
  "Bookmark...",
  "Better Export PDF",
  "Start presentation",
  "Search for “",
  "Read the note",
  "Share note on the web",
  "Copy shared link",
  "Copy as HTML",
  "Edit Extension",
  "Lint file",
  "Ignore file in Linter",
  "Export to...",
  "Update literature note"
);

.menu {
  .menu-group {
    display: flex;
    flex-direction: column;
    // without applying flex to the parent, menu items are trapped in groups and can not be reordered using the order property.
  }
  .menu-scroll {
    display: flex;
  }
  // Adds extra icons to menu items without.
  .menu-item.tappable {
    &[data-stylizer-title*="Get etymology of"] {
      .menu-item-icon::before {
        content: "\f1ea"; /* FontAwesome icon code for book */
      }
      color: #{shared.$offListItemColor};
    }
    &[data-stylizer-title*="Open in other editor"] {
      display: block !important;
      .menu-item-icon::before {
        content: "🐵"; /* FontAwesome icon code for file-alt */
      }
      color: #{shared.$offListItemColor};
    }
    &[data-stylizer-title*="Merge notes"] {
      .menu-item-icon::before {
        content: "🔀"; /* FontAwesome icon code for file-alt */
      }
      color: #{shared.$offListItemColor};
    }
    // Remove Copy manually because css regex is too stupid to.
    &[data-stylizer-title="Copy"] {
      display: none;
    }

    $special-menu-items-offset: 54;
    $special-menu-items-to-show-count: length($special-menu-items-to-show);

    // Governs wikilink context menu items.
    @for $i from 1 through length($special-menu-items-to-hide) {
      $special-menu-item-to-hide: nth($special-menu-items-to-hide, $i);
      &[data-stylizer-title^="#{$special-menu-item-to-hide}"] {
        display: none;
        & ~ .menu-separator {
          display: none;
        }
      }
    }

    @for $i from 1 through $special-menu-items-to-show-count {
      $special-menu-item-to-show: nth($special-menu-items-to-show, $i);
      &[data-stylizer-title^="#{$special-menu-item-to-show}"] {
        order: #{$i + $special-menu-items-offset};
      }
    }

    // Governs on-editor context menu items.
    $menu-items-offset: 22;
    $menu-items-to-hide-count: length($menu-items-to-hide);
    @for $i from 1 through $menu-items-to-hide-count {
      $_menu-item-to-hide: nth($menu-items-to-hide, $i);
      &[data-stylizer-title^="#{$_menu-item-to-hide}"] {
        display: none;
        & ~ .menu-separator {
          display: none;
        }
        // order: #{$i + $menu-items-offset};
      }
    }
    @for $i from 1 through length($menu-items-to-show) {
      $_menu-item-to-show: nth($menu-items-to-show, $i);
      &[data-stylizer-title^="#{$_menu-item-to-show}"] {
        order: #{$i + $menu-items-offset}; // offset is 22;
      }
    }
  }
  .menu-item.tappable {
    @for $i from 1 through length($menu-items-with-seperators) {
      $menu-items-with-seperator: nth($menu-items-with-seperators, $i);
      &[data-stylizer-title="#{$menu-items-with-seperator}"] {
        .menu-item-title::after {
          content: "";
          display: block;
          border-bottom: 1px solid #{shared.$offListItemColor};
          position: relative;
        }
      }
    }
  }
}
