@forward "./atoc.scss";
@forward "./breadcrumbs.scss";
@forward "./dataview.scss";
@forward "./floating-toc.scss";
@forward "./list-callouts.scss";
@forward "./long-form-leaf.scss";
@forward "./slides.scss";
@forward "./templater.scss";
// @forward "./file-explorer-note-count.scss";
// @forward "./fountain.scss";
// @forward "./novel-word-count.scss";
@use "@shared" as shared;

// $local-write-good-color: #{shared.$borderColor};
// .write-good-mark {
//   text-decoration: underline wavy #{$local-write-good-color};
// }
// .write-good-suggestion {
//   color: #{$local-write-good-color};
// }

.smiles.chem-cell-inline {
  display: inline-block;
  svg {
    // padding: 0.5em 0.3em;
    border: 1px solid #{shared.$primaryAlt};
    // background-color: #{shared.$material-color-ambecr-a400};
  }
}

// # TASK GENIUS
.task-status-widget {
  // position: relative;
  // display: unset;
  .task-state,
  input.checkbox {
    box-sizing: border-box;
    border-radius: 25% 25%;
    // border: 1px solid grey;
    outline: 1px solid bisque;
    background-color: shared.$tertiary-blue-700;
    padding-inline-start: 2%;
    padding-inline-end: 2%;
    margin-left: 0.3em;
    margin-right: 0.3em;
    font-size: 75%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
  }
}

// # OUTLINER PLUGIN
// body.outliner-plugin-dnd:not(.outliner-plugin-dragging) .cm-formatting-list {
//   margin-left: 0.5em;
//   margin-right: 0.2em;
// }
.collapse-icon svg.svg-icon {
  width: 0.9em;
  height: 0.9em;
  stroke-width: 0.5em;
}
// body.outliner-plugin-dnd:not(.outliner-plugin-dragging) .cm-fold-indicator .collapse-indicator

// # QUIET OUTLINE PLUGIN
@function is-even($x) {
  @return $x % 2 == 0;
}
// alternate colors for quiet outline list items using the provided id no.
@mixin loopOutline($start, $end) {
  @for $i from $start through $end {
    #no-#{$i}.n-tree-node.n-tree-node--selectable {
      p {
        @if is-even($i) {
          color: #{shared.$embedPrimaryLinkColor};
        } @else {
          color: #{shared.$altLinkColor};
        }
      }
    }
  }
}
.quiet-outline {
  @include loopOutline(0, 50);
  .n-tree .n-tree-node-content {
    // min-width: fit-content;
    max-width: 90%;
    .n-tree-node-content__text {
      div {
        // overflow: hidden !important;
        p {
          max-width: unset;
          line-height: 1.5em; // each line * 2 = 3 + .1em top adn bottom = ...
          max-height: 3.2em !important; // 3.2 em
          white-space: pre-wrap;
          // max-width: 98%;
          // display: block; // https://caniuse.com/?search=webkit-box all browsersuse webkit-box
          display: -webkit-box;
          -webkit-line-clamp: 2;
          overflow: hidden;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
        }
      }
    }
  }
  // @include loopOutline(1, 6);
}

// // Chronos Plugin
// why isnt this working?
.cm-contentContainer {
  .cm-preview-code-block.cm-embed-block.markdown-rendered:has(
      .chronos-timeline-container
    ) {
    width: 90vw !important;
    .chronos-timeline-container {
      width: 100%;
    }
  }
}

.chronos-timeline-container {
  .vis-item-overflow {
    .vis-item-content {
      white-space: pre-wrap;
    }
  }

  // make sure the flag color is cyan so that it can match common duration events so that i can split two different chronos timelines and easily match by color
  .vis-background {
    .vis-custom-time-marker {
      background-color: var(--chronos-color-cyan) !important;
    }
  }
}

// # FOLDER NOTE PLUGIN

// ##  Folder Note File Overview
.block-language-folder-overview {
  background-color: #{shared.$material-color-purple-900};
  border: 1px solid #{shared.$material-color-light-green-a400};
  border-radius: 0.5rem 0.5rem;
  .folder-overview {
    position: relative;
    padding: 0 0.5em 1em 0.5em;
    .folder-overview-title::before {
      content: "📂";
      border: 1px solid gray;
      font-size: 70%;
      border-radius: 0.5rem 0.5rem;
      background: #{shared.getRandomColor(shared.$colorsMap)};
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-50%);
    }
    .folder-overview-title {
      color: #{shared.$material-color-purple-700};
      font-size: large;
      text-shadow: 1px 1px 2px #{shared.$material-color-deep-purple-200};
      @include orange-to-right-color(
        $deg: to bottom right,
        $col1: #{shared.$material-color-green-300},
        $col2: #{shared.$material-color-green-900}
      );
      padding: 0.1em 0.1em 0.2em 0.1em;
      border-radius: 0.5em 1.8em 0.3em 0.5em;
      outline: 2px solid #{shared.$material-color-brown-900};
    }
    li.folder-overview-list.file-link + li.folder-overview-list.file-link {
      .folder-overview-list-item a.internal-link {
        color: #{shared.$material-color-green-300};
      }
    }
  }
}
