@use "@shared" as shared;

// # HEADER ITEMS

.templater-inline {
  --material-color-amber-400: #ffca28;

  $_header_bg: shared.$material-color-purple-900;
  $_header_color: var(--material-color-amber-400);
  background: #{$_header_bg};

  span.cm-templater-command.cm-templater-execution-tag,
  .cm-templater-closing-tag.cm-templater-command.cm-templater-execution-tag {
    color: #{$_header_color};
    background: $_header_bg;
  }
  span.cm-null.cm-templater-command,
  span.cm-comment.cm-templater-command {
    background: $_header_bg;
    color: #{$_header_color};
    text-decoration: underline;
  }

  span.cm-templater-opening-tag {
    color: #{$_header_color};
    background: $_header_bg;
  }
}

// # LIST ITEMS

@mixin evenListColorAndBackground {
  .cm-comment.cm-templater-command {
    background: shared.$material-color-purple-200;
    color: shared.$material-color-purple-900;
  }
}
@mixin oddListColorAndBackground {
  .cm-comment.cm-templater-command {
    background: shared.$material-color-purple-100;
    color: shared.$material-color-blue-900;
  }
}

// TODO Consider gettting rid of this code and only targeting commented code.
.cm-contentContainer {
  .templater-command-bg.cm-line[style*="padding-inline-start: 16px;"] {
    font-weight: bold;
    // color: shared.$bookSource;
  }
  .templater-command-bg.cm-line[style*="padding-inline-start: 16px;"]:nth-child(
      odd
    ) {
    @include oddListColorAndBackground();
  }
}

// The Following css highlights any indented line (every other) in templater
// Learn to live with unhighlighted documentation in templater

// .templater-command-bg.cm-line[style*="padding-inline-start: 16px;"]:nth-child(
//     even
//   ) {
//   @include evenListColorAndBackground();
// }

// TODO Think about consolidating all the comments using one standard even odd code.
.templater-command-bg.cm-line:is(
    [style*="padding-inline-start: 13px;"],
    [style*="padding-inline-start: 16px;"],
    [style*="padding-inline-start: 29px;"],
    [style*="padding-inline-start: 33px;"]
  ):nth-child(even) {
  @include evenListColorAndBackground();
}
.templater-command-bg.cm-line:is(
    [style*="padding-inline-start: 13px;"],
    [style*="padding-inline-start: 16px;"],
    [style*="padding-inline-start: 29px;"],
    [style*="padding-inline-start: 33px;"]
  ):nth-child(odd) {
  @include oddListColorAndBackground();
}
// 2nd level
.templater-command-bg.cm-line:is(
    [style*="padding-inline-start: 36px;"],
    [style*="padding-inline-start: 34px;"],
    [style*="padding-inline-start: 46px;"]
  ):nth-child(even) {
  @include evenListColorAndBackground();
}
.templater-command-bg.cm-line:is(
    [style*="padding-inline-start: 36px;"],
    [style*="padding-inline-start: 34px;"],
    [style*="padding-inline-start: 46px;"]
  ):nth-child(odd) {
  @include oddListColorAndBackground();
}
